@model IEnumerable<FAITutorial2.Models.Roli>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roli1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roli1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoliId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoliId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoliId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
