@model IEnumerable<FAITutorial2.Models.Punetori>

@{
    ViewData["Title"] = "Index";
}

<h2>Punetoret</h2>

<p>
    <a class="btn btn-primary " asp-action="Create">Regjistro</a>
</p>    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gjinia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumriPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gjinia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumriPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roli.RoliId)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.PunetoriId">Edit</a> |
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.PunetoriId">Details</a> |
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.PunetoriId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>